.accessDenied {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(rgba(244, 235, 220, 0.7), rgba(244, 235, 220, 0.7)),
        url('https://res.cloudinary.com/dtxdv136u/image/upload/v1725887666/5591317_t9r4dv.jpg'); /* Asegúrate de que esta ruta sea correcta */
    background-size: cover;
    background-blend-mode: multiply;
    padding: 2rem;
}

.accessDenied h1 {
    color: #fff;
}
.accessDenied p {
    margin: 1rem;
    color: #fff;
}