.moderatorScreenContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 2px solid red;  /* Borde temporal para depuración */
}

.moderatorScreenContainer h1 {
    margin: auto;
    color: blue;  /* Cambia el color del texto para hacerlo más visible */
}
