.navBar {
    width: 100%;
    max-width: 99vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem; 
    background: none; 
    background-color: transparent; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1; 
}


.logo img{
    width: 2.5rem;
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #fff;
    background: #AF5286;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer; 
}
