@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

:root {
  font-family: "Schibsted Grotesk", system-ui;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* Cards de vidrio (display comun) */
.display{            
  background: rgba(116, 116, 116, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.5), 
              -7px -7px 20px rgba(255, 255, 255, 0.7),
              inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Titles*/
h1 {
  color: #000;
}

/* Search */
.searchButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  height: 2.5rem;
}

/* Tablas */
table {
  font-size: 1.2rem;
  border-collapse: collapse;
  width: 60vw;
  margin-top: 1rem;
}

th,
td {
  padding: 1rem 2rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

th {
  background-color: #f4f4f4;
  color: #000;
}

td {
  padding-top: 1rem;
  color: #000;
}
/* Botonera actions */
.btns {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
}

/* Estilos generales para los botones */
.btn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: rgba(235, 235, 235 , 0.7);
  backdrop-filter: blur(20px);
  color: #000000;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), 
              -3px -3px 8px rgba(255, 255, 255, 0.3);
}

.btn:active {
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2), 
              inset -3px -3px 8px rgba(255, 255, 255, 0.4);
}

.btn:hover {
  box-shadow: 0px 0px 10px rgba(80, 88, 95, 0.6);
}
.btn.delete:hover .white-icon path {
  fill: #ff0000;
}
.btn.add:hover,
.btn.ver:hover {
  color: #5FAD41;
}
.btn.add:hover .white-icon path,
.btn.espera:hover .black-icon path {
  fill: #5FAD41;
}
.btn.inactive:hover {
  color: #ff0000;
}
.btn.edit:hover .black-icon path {
  fill: #fff200;
}

@media (max-width: 990px) {
  thead{
      display: none;
  }
  tr, td{
      display: block;
      width: 100%;
  }
  tr{
      margin-bottom: 15px;
  }
  tr td{
      text-align: right;
      position: relative;
  }
  td:before{
      content: attr(data-label);
      position: absolute;
      left: 1rem;
      font-weight: bold;
  }
  .buttons-actions{
      text-align: center;
  }

  .display{
    width: 90vw;
  }

  .searchButtons {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .btn {
    width: 100%;
  }
}